.square-div {
  background-color: rgb(155, 183, 236);
  width: 200px;
  height: 200px;
  border: rgb(50, 94, 158) 10px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-value-text {
  font-size: 48pt;
}
